* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  .todo-form {
    margin-bottom: 32px;
    color: 'black';
    justify-content: 'center';
    align-content: 'center';
    display: 'flex';
    padding-top: 30px;
    
  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 720px;
    font-size: 20px;
    background: transparent;
    color: #fff;
    margin-left: 500px;
  }
  
  .todo-input::placeholder {
    color: #e2e2e2;
  }
  
  .todo-button {
    font-size: 20px;
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgb(68, 6, 191) 0%,
      rgb(38, 34, 41) 100%
    );
    color: #fff;
    text-transform: capitalize;
  }
  
  .todo-input.edit {
    border: 2px solid #37ff14;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      rgb(39, 50, 58) 0%,
      rgb(130, 184, 255) 100%
    );
    padding: 16px 22px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(188, 0, 30, 1) 0%,
      rgba(146, 0, 17, 1) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgba(178, 34, 34, 1) 0%,
      rgba(142, 27, 27, 1) 100%
    );
  }
  
  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgba(178, 17, 38, 1) 0%,
      rgba(142, 14, 30, 1) 100%
    );
  }
  
  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgba(165, 28, 29, 1) 0%,
      rgba(132, 22, 23, 1) 100%
    );
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 44px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 15px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
    margin-right: 15px;
  }

  .search-bar {
    font-size: 20px;
    margin: 12px auto;
    margin-bottom: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    padding-left: 20px;
    padding: 14px;
    border-radius: 14px;
    border: 2px solid #5d4d7f;
    outline: none;
    width: 720px;
    background: rgb(7,61,61);
    background: linear-gradient(0deg, rgb(250, 249, 255) 0%, rgb(42, 69, 69) 100%);
    color: black;
  }

  .in-text-style {
    color: white;
    
  }

  .outlined-style {
    color: white;
    outline: #fff;
  }
