main {
    background: rgb(7,61,61);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(7,61,61,1) 100%);
    color: antiquewhite;
}

search-bar {
    color: antiquewhite;
    display: 'flex';
    align-items: 'flex-end';
}


.MuiCardContent-root {
    background: rgb(7,61,61);
    background: linear-gradient(0deg, rgb(39, 29, 224) 0%, rgb(127, 255, 255) 100%);
    color: black;
    border-radius: 22;
}
