main {
    background: rgb(7,3,69);
    background: linear-gradient(90deg, rgba(7,3,69,1) 15%, rgba(62,57,159,1) 51%, rgba(7,3,69,1) 98%);
    color: antiquewhite;
}

search-bar {
    color: antiquewhite;
    display: 'flex';
    align-items: 'flex-end';
}


.MuiCardContent-root {
    background: rgb(7,61,61);
    background: linear-gradient(0deg, rgb(7,3,69,1) 0%, rgb(62,57,159,1) 100%);
    color: rgb(255, 255, 255);
    border-radius: 22;
}

.css-1rp9rvh-MuiPaper-root-MuiAppBar-root {
    background: linear-gradient(0deg, rgb(7, 5, 36) 0%, rgb(99, 96, 168) 100%);
}

.side-buttons {
    cursor: pointer;
}

.css-12l8nii-MuiDrawer-docked .MuiDrawer-paper {
    background: linear-gradient(0deg, rgb(7, 5, 36) 0%, rgb(99, 96, 168) 100%);
}